


body{
margin:0;
padding:0;
min-width: 300px;

}
label,h1,h2,h3,h4,p,a,li {
	font-family:'Roboto', sans-serif;

}



h1 {
	 font-size: 65px;
	font-weight: 700;
	
	color: white;
}

h2{
	margin-bottom: 0px;
}

h4{
	font-size: 30px;
	margin: 0px;
	color: 	#014873;

}

ul {
  list-style: none;
  text-align: left;
}
ul li {
	margin-bottom: 10px;
}

ul li:before {
  content: '+';
  margin-right: 10px;
  color: #014873;
}

.landing button{
	font-weight: 700;
	font-size: 1em;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.plan-2 {
	border-top: solid #F06005 15px;
}
/*LAYOUT*/
.center-align,
.features,
.pricing,
.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	margin: 0;	
	padding: 0x;
}
.container {
	position: relative;

}
.hamburger{
	position: absolute;
	left: 90%;
	margin-top: 20px;

}

.landing {
	border: red 0px solid;
	min-height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

.landing-2 {
	width: 100%;
	height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 30px 0;
}
.app,
.pricing,
.features{
	margin-top: 5px;
}

.app{
	margin-top: 30px;}



footer{
	height: 50px;
	background-color: #014873;
	width: 100%;
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
footer > p {
	color: white;
	margin
}







/* ===============
   BASE STYLES
   =============== */

nav{

	background-color: #014873;
}

.icon {
	width: auto;
	height: 100px;
}

.app-icon{
	width: 180px;
	height: auto;
}
.testBr {
	margin-top: 30px;
	width: 300px;
	padding: 2px ;
	border-radius: 10px;
	box-shadow: 0px 5px 7px -2px rgba(0, 0, 0, 0.4);

}

#landing-bttn{
	border: none;
	font-weight: 700;
	background: #F06005;
	padding: 20px 40px;
	border-radius: 3px;
	margin-top: 1px;
	color: white;
	box-shadow: 0px 5px 7px -2px rgba(0, 0, 0, 0.4);
	font-size: 24px;
}

.small-button {
	border: none;
	font-weight: 700;
	background: #F06005;
	padding: 15px 20px;
	border-radius: 3px;
	margin: 20px 0;
	color: white;
	font-size: 18px;

}

h3 {
	font-weight: 400;
	color: #F06005;
}
 h2{
 	color: #014873;
 	font-size: 2.5em;

 }

/*Images*/
.landing {
	background-image: url('img/land3.jpg');
	background-size: cover;

	
}
.landing-2 {
	background-image: url('img/second-landing.jpg');
	background-size: cover

}

/*Nav*/

.mob-nav{
	background-color: rgb(1,72,115);
	height: auto;
	width: auto;
	text-align: center;
	opacity: 1;
	display: flex;
	width: 100%;
	
	flex-direction: column;
	align-items: center;


}

.mob-nav > a {
	text-decoration: none;
	display: ;
	width: auto;
	color: white;
	font-size: 25px;
	margin: 15px 0;
	padding: 5px;


}

.mob-nav > a:hover {
	color: #F06005;

}

#menu-button{
	position: absolute;
    left: 80%;
    top: 20px;
    z-index: 1;
    margin-right: 0px;
    padding:0;


}

.fa-bars {
	color: white;
	font-size: 50px;
}

/*Form Styles*/

.login label {
	display: block;
}

.login input {
	width: 2	00px;
	height: 20px;
	border-radius: 5px;
	border: 1px solid;
}




/*media*/
@media (min-device-width : 768px){
	.features,
	.pricing {
		flex-direction: row;
		flex-grow: 1;

		
	}

	#menu-button {
		left:90%;
		
		} 


	.features > div,
	.pricing > div{
		margin-right: 20px;


	}
