


body{
margin:0;
padding:0;
min-width: 300px

}
h1,h2,h3,h4,p,a,li {
	font-family:'Roboto', sans-serif;

}



h1 {
	 font-size: 65px;
	font-weight: 700;
	
	color: white;
}

h2{
	margin-bottom: 0px;
}

h4{
	font-size: 30px;
	margin: 0px;
	color: 	#014873;

}

ul {
  list-style: none;
  text-align: left;
}
ul li {
	margin-bottom: 10px;
}

ul li:before {
  content: '+';
  margin-right: 10px;
  color: #014873;
}

.landing button{
	font-weight: 700;
	font-size: 1em;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.plan-2 {
	border-top: solid #F06005 15px;
}
/*LAYOUT*/
.features,
.pricing,
.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	margin: 0;	
	padding: 0px;
}

.hamburger{
	position: absolute;
	left: 90%;
	margin-top: 20px;

}

.landing {
	border: red 0px solid;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.landing-2 {
	width: 100%;
	height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 30px 0;
}
.features{
	margin-top: 5px;
}

.pricing {
	margin-top: 5px;
}

footer{
	height: 100px;
	background-color: #014873;
	width: 100%;
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
footer > p {
	color: white;
	margin
}
/*NAV*/




/*Base Styles */

nav{

	background-color: #014873;
}

.testBr {
	border: solid orange px;
	margin-top: 30px;
	width: 300px;
	padding: 2px ;
	border-radius: 10px;
	box-shadow: 0px 5px 7px -2px rgba(0, 0, 0, 0.4);

}

#landing-bttn{
	border: none;
	font-weight: 700;
	background: #F06005;
	padding: 20px 40px;
	border-radius: 3px;
	margin-top: 1px;
	color: white;
	box-shadow: 0px 5px 7px -2px rgba(0, 0, 0, 0.4);
	font-size: 24px;
}

.small-button {
	border: none;
	font-weight: 700;
	background: #F06005;
	padding: 15px 20px;
	border-radius: 3px;
	margin: 20px 0;
	color: white;
	font-size: 18px;

}

h3 {
	font-weight: 400;
	color: #F06005;
}
 h2{
 	color: #014873;
 	font-size: 2.5em;

 }

/*Images*/
.landing {
	background-image: url('img/land3.jpg');
	background-size: cover;

	
}
.landing-2 {
	background-image: url('img/second-landing.jpg');
	background-size: cover

}

/*Nav 2*/

.mob-nav{
	background-color: rgb(1,72,115);
	height: auto;
	text-align: center;
	opacity: 1;
}

.mob-nav > a {
	text-decoration: none;
	display: block;
	color: white;
	font-size: 25px;
	padding: 10px 0;


}

/*nav*/
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color:#014873; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
  	text-align: center;
  	opacity: 0.97;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color:#F06005 ;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.fa-bars{
	font-size: 2.5em;
	color: #F06005;


	


}

.icon {
	width: auto;
	height: 100px;
}
/*media*/
@media (min-device-width : 768px){
	.features,
	.pricing {
		flex-direction: row;
		flex-grow: 1;

		
	}

	.features > div,
	.pricing > div{
		margin-right: 20px;


	}
